Repository TheCloudHub/openhack-devops-team, changes with the owners that .github/CODEOWNERS names for each.
All owners: @amrutashety, @sonam31b, @Smooth-Polar-Bear, @emaema1

.github/CODEOWNERS:

/apis/poi/    @amrutashety
/apis/trips/  @sonam31b
/apis/user-java/ @Smooth-Polar-Bear
/apis/userprofile/  @emaema1

test code owner file pp
  apis/poi/test poi
Owners: @amrutashety

Update README.md
  apis/userprofile/README.md
Owners: @emaema1

Testing work item with PR
  README.md
Owners: none

create build-trips-api.yml pipeline first draft
  .github/workflows/build-trips-api.yml
Owners: none

Changed build command and unit test command path
  .github/workflows/build-trips-api.yml
Owners: none

change build path
  .github/workflows/build-trips-api.yml
Owners: none

added workdir and added go get
  .github/workflows/build-trips-api.yml
Owners: none

corrected test path
  .github/workflows/build-trips-api.yml
Owners: none

test to create workflow pp
  .github/workflows/go_trips-api_pp.yml
Owners: none

typo changes done to tripsgo
  .github/workflows/go_trips-api_pp.yml
Owners: none

removed push and PR branch changed to main
  .github/workflows/build-trips-api.yml
Owners: none

commented directory to test
  .github/workflows/build-trips-api.yml
Owners: none

First draft of raise_issue_on_failure commit
  .github/workflows/raise_issue_on_failure.yml
Owners: none

Update README.md
  README.md
Owners: none

added create issue action
  .github/workflows/raise_issue_on_failure.yml
Owners: none

added fix to create an issue.
  .github/workflows/raise_issue_on_failure.yml
Owners: none

Added paths to triggers
  .github/workflows/build-trips-api.yml
Owners: none

Added latest changes to build trips workflow for testing
  .github/workflows/build-trips-api.yml
Owners: none

Update README.md
  apis/trips/README.md
Owners: @sonam31b

added a bug
  .github/workflows/build-trips-api.yml
Owners: none

Added a file
  apis/trips/hello.txt
Owners: @sonam31b

Update main.go
  apis/trips/main.go
Owners: @sonam31b

Commented checkout actions
  .github/workflows/raise_issue_on_failure.yml
Owners: none

Update raise_issue_on_failure.yml
  .github/workflows/raise_issue_on_failure.yml
Owners: none

Update build-trips-api.yml
  .github/workflows/build-trips-api.yml
Owners: none

Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Owners: none

Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Owners: none

Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Owners: none

Update build-trips-api.yml
  .github/workflows/build-trips-api.yml
Owners: none

Create Deploy-pipeline-draft.yml
  .github/workflows/Deploy-pipeline-draft.yml
Owners: none

Update build-trips-api.yml
  .github/workflows/build-trips-api.yml
Owners: none

first draft push api
  .github/workflows/push-trips-api.yml
Owners: none

added image name & unique tag
  .github/workflows/push-trips-api.yml
Owners: none

Update push-trips-api.yml
  .github/workflows/push-trips-api.yml
Owners: none

Update push-trips-api.yml
  .github/workflows/push-trips-api.yml
Owners: none

Update build-trips-api.yml
  .github/workflows/build-trips-api.yml
Owners: none

Update push-trips-api.yml
  .github/workflows/push-trips-api.yml
Owners: none

Update push-trips-api.yml
  .github/workflows/push-trips-api.yml
Owners: none

Update push-trips-api.yml
  .github/workflows/push-trips-api.yml
Owners: none

Update push-trips-api.yml
  .github/workflows/push-trips-api.yml
Owners: none
